.header-style {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-right-part {
  width: 60%;
}

.padding-header {
  padding: 1rem 1.1rem 0 1.1rem;
}

.active-nav {
  background-color: $white;
  width: 1.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.nav-link {
  &:hover {
    color: $golden;
  }
}
