.header-style {
  flex-flow: row wrap;
  padding-top: 1rem;
}

.header-right-part {
  width: 60%;
  @media (max-width: 900px) {
    width: fit-content;
  }
}

.header-nav-style {
  @media (max-width: 900px) {
    padding: 1rem 0;
    flex-direction: column;
    gap: 2rem;
  }
}

.nav-hamburger {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  padding: 1px;
  background: none;
  span {
    height: 5px;
    width: 100%;
    background-color: $white;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  &.active {
    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.nav-hamburger-list {
  position: fixed;
  inset: 0 0 0;
  background-color: $darkTeal;
  padding: 2.2rem 1rem;
  border-radius: 10px 0 0 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  z-index: 1000;

  transform: translateX(100%);
  transition: transform 350ms ease-in-out;
  &.open {
    transform: translateX(0%);
  }
}

.humburger-inside-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.active-nav {
  background-color: $white;
  width: 1.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.nav-link {
  &:hover {
    color: $golden;
  }
}
