.contact-us-section {
  min-height: 75vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.contact-info-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-bg {
  aspect-ratio: 1/1;
  object-fit: cover;
  filter: brightness(0.2);
}

.contact-form {
  width: 40%;
  background-color: $whiteSmoke;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.full-width {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  button {
    width: 100%;
  }
}

.contact-us-padding {
  padding: clamp(2rem, calc(8vh - 0.5rem), 4.5rem);
}
