.contact-us-section {
  min-height: 75vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 4.5rem;
}

.contact-info-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-bg {
  aspect-ratio: 1/1;
  object-fit: cover;
  filter: brightness(0.2);
}

.contact-form {
  width: 40%;
  background-color: $whiteSmoke;
}
