.info-section {
  position: relative;
  overflow: hidden;
}

.info-container {
  width: 95%;
  flex-flow: row wrap;
  @include tablet {
    width: 100%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

.info-items {
  display: flex;
  flex-direction: column;
}

.info-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}
