.info-section {
  position: relative;
  overflow: hidden;
}

.info-container {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.info-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}
