.services-section {
  background-color: $whiteSmoke;
  min-height: 70vh;
  flex-direction: column;
}

.serviceCard {
  flex-direction: column;
  width: 100%;
}

.card-info {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  text-align: center;
}
