.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 4.5rem;
}

.form-title {
  p {
    display: inline;
  }
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input,
  textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: inherit;
    color: $darkTeal;
    background-color: $white;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &::placeholder {
      color: #aaa;
    }

    &:focus {
      border-color: $darkTeal;
      box-shadow: 0 0 2px 1px $spearmint;
    }

    &.error {
      border-color: $jaffa;
    }
  }
  textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 100px;
  }
}

.error-text {
  color: $jaffa;
  margin-top: 2px;
}
