//button
$orange: #f6b106;
$lavender: #7c5aac8c;
$peacoat: #252737;

//text
$white: #fffefe;
$whiteSmoke: #f4f5f6;
$spearmint: #69b798;
$gray: #8f8f8f;
$golden: #c59217;
$jaffa: #e76e44;
$darkTeal: #0f2f3f;

//fontSize
$base-font-size: 16;

@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@function fluid($min, $max) {
  $min-rem: rem($min);
  $max-rem: rem($max);
  @return clamp(#{$min-rem}, #{calc(8vw - 0.1rem)}, #{$max-rem});
}

$bigTitle: fluid(32, 40);
$title: fluid(22, 28);
$smallTitle: fluid(18, 20);
$main: fluid(15, 16);
$small: fluid(13, 14);
$tiny: fluid(11, 12);
