//button
$orange: #f6b106;
$lavender: #7c5aac;
$peacoat: #252737;

//text
$white: #fffefe;
$whiteSmoke: #f4f5f6;
$spearmint: #69b798;
$gray: #8f8f8f;
$golden: #c59217;
$jaffa: #e76e44;
$darkTeal: #0f2f3f;

//fontSize
$bigTitle: 40px;
$title: 28px;
$smallTitle: 20px;
$main: 16px;
$small: 14px;
$Tiny: 12px;
