@import "./constants.scss";
@import "./typography.scss";
@import "./themes.scss";
@import "./mixins";

@import "./global/header.scss";
@import "./global/footer.scss";

@import "./custom/form.scss";

@import "./home-page/heroSection.scss";
@import "./home-page/technologiesSection.scss";
@import "./home-page/servicesSection.scss";
@import "./home-page/infoSection.scss";
@import "./home-page/portfolioSection.scss";
@import "./home-page/contact-us.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

.main-side-padding {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

.main-small-vertical-padding {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.main-big-vertical-padding {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  @include tablet {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.bg-full-screen {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 155vh;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.flex-central {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-central-space {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  width: 70%;
  @include tablet {
    width: 80%;
  }
  @include mobile {
    width: 90%;
  }
}

.title-cta {
  margin-top: clamp(1rem, calc(5vh - 0.5rem), 2rem);
  flex-flow: row wrap;
  gap: 2rem;
}

.button-style {
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $spearmint;
  }
}

.gap-between {
  gap: clamp(1rem, calc(5vh - 0.5rem), 2rem);
  @include tablet {
    gap: clamp(0.5rem, calc(5vh - 0.5rem), 1rem);
  }
}

.gap-between-big {
  gap: clamp(1.5rem, calc(8vh - 0.5rem), 3.5rem);
}

.scroller {
  max-width: 70%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.scroller-inner {
  display: flex;
  flex-direction: row;
  width: max-content;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 3rem;

  @include tablet {
    gap: 1.5rem;
    padding: 2rem;
  }

  @include mobile {
    gap: 1rem;
    padding: 1.1rem;
  }
}

.fade-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
