@import "./constants.scss";
@import "./typography.scss";
@import "./themes.scss";

@import "./global/header.scss";
@import "./global/footer.scss";

@import "./home-page/heroSection.scss";
@import "./home-page/technologiesSection.scss";
@import "./home-page/servicesSection.scss";
@import "./home-page/infoSection.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

.main-side-padding {
  padding: 0 1.1rem;
}

.main-horizontal-padding {
  padding: 4.5rem 0;
}

.width-70 {
  width: 70%;
}

.bg-full-screen {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 130vh;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.flex-central {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-central-space {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
}

.title-cta {
  margin-top: clamp(1rem, calc(5vh - 0.5rem), 2rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button-style {
  width: auto;
  height: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $spearmint;
  }
}

.gap-between {
  gap: clamp(1rem, calc(5vh - 0.5rem), 2rem);
}

.gap-between-big {
  gap: clamp(1.5rem, calc(8vh - 0.5rem), 3.5rem);
}

.scroller {
  max-width: 70%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.scroller-inner {
  display: flex;
  flex-direction: row;
  width: max-content;
  //animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}
