@import "./constants.scss";
@import "./typography.scss";
@import "./themes.scss";

@import "./global/header.scss";

@import "./home-page/heroSection.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}
.main-padding {
  padding: 1rem 1.1rem;
}

.flex-central {
  display: flex;
  align-items: center;
  text-align: center;
}

.full-sc {
  min-height: 85vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, calc(5vh - 0.5rem), 2rem);
  width: 70%;
}

.title-cta {
  margin-top: clamp(1rem, calc(5vh - 0.5rem), 2rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button-style {
  width: auto;
  height: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}
